<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="discount" value="no"/>
    <add key="vat" value="yes"/>
    <add key="add_charges" value="yes"/>
    <add key="copper" value="yes"/>
    <add key="alluminium" value="yes"/>
    <add key="nickel" value="yes"/>
    <add key="zinc" value="yes"/>
    <add key="lastmmodify" value="yes"/>

  </appSettings>
</configuration>